body {
  margin: 0px;
  padding: 0px;
  background-color: burlywood;
}
h1 {
  background-color: lightgray;
  margin: 0;
  padding: 20px;
  height: 50px;
}

p {
  background-color: black;
  width: 10vw;
  border-radius: 20px;
  padding: 10px;
  margin: 9px;
  opacity: 70%;
}

.talk1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.green {
  background-color: green;
}
.grey {
  background-color: grey;
  position: relative;
}

.xx {
  opacity: 60%;
  position: absolute;
  width: 15px;
  top: 130px;
}
